.nav-tabs {
    border-color: #662985;
    .nav-link {
      padding: $aside-menu-nav-padding-y $aside-menu-nav-padding-x;
      color: #662985;
      border-top: 0;
      @include border-radius(0);
      &.active {
        color: #000;
        border-right-color: #662985;
        border-left-color: #662985;
      }
    }
    .nav-item:first-child {
      .nav-link {
        border-left: 0;
      }
    }
  }
