root {
    margin: auto
  }
.paper {
    height: 350px;
    min-height: 350px;
    overflow: auto;
}
.button {
    margin: 0.5rem 0;
    width: 60px;
}
.classeButton {
    display: grid;
    justify-content: center;
    align-items: center;
}
.classeDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-border {    
    border: 1px solid #c8ced3;;
    border-radius: 1rem;   
}
.card-body .list-border {
    height: auto;
}
