.content-form {  
  display: flex;
  align-items: center;
  justify-content: center;
}


.breadcrumb-item a {
  color:#f86c6b;
}

.app-footer a {
  color:#fff;
}

.aside-menu .nav-tabs .nav-link.active {
  color:#f86c6b;
}

.links .search{

margin-left: 900px;
}

.animated .dataTable{

  background: black;
}

.text-grey {
  color: #5c6873;
}

.list-item li:hover {
  background-color: #63c2de;
  cursor: pointer;
}

.app-body .nav-link.active {
  border: 1px solid #662985;
  background : #ec6726;

  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}


.app-body button.sidebar-minimizer.mt-auto{

  background: #662985;
}

.list-group-item-accent-lightBold {
  border-left: 4px solid #372A54;
}

/*
Autor: Jaqueline Silva
Data: 18/09/2020
Objetivo: A pedido do cliente, necessário aumentar o tamanho da fonte de todos os badges da aplicação*/
.badge {
  font-size: 90%
}
/* FIM */

.cursor-pointer {
    cursor: pointer;
}

.sidebar .nav{

  background:#662985;
}

.sidebar{

  background:#662985;
}

.sidebar .sidebar-minimizer{

  background:#662985

}.sidebar .sidebar-minimizer:hover{

  background:#662985

}
