.content-form {  
  display: flex;
  align-items: center;
  justify-content: center;
}
.switch-ativo {
  display: flex;
  flex-direction: column;
  justify-content: center;   
  margin-top: 8px; 
}

.breadcrumb-item a {
  color:#f86c6b;
}

.app-footer a {
  color:#fff;
}

.aside-menu .nav-tabs .nav-link.active {
  color:#f86c6b;
}

.links .search{

margin-left: 900px;
}

.animated .dataTable{

  background: black;
}

.text-grey {
  color: #5c6873;
}

.list-item li:hover {
  background-color: #63c2de;
  cursor: pointer;
}

.nav-tabs .nav-link.active {
  color: #000;
  border: 1px solid #c8ced3;
  border-bottom: none;
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.list-group-item-accent-lightBold {
  border-left: 4px solid #c8ced3;
}